body{
    background: red;
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 100px;
}

header{
    border-bottom: 3px solid yellow;
    padding: 20px;
    color:rgb(160, 0, 107);
    font-size: 35px;
}

.chamada{
    background:rgb(4, 0, 255);
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    margin-right: 25%;
}
h1{font-size: 35px;}